html{
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    background-image: linear-gradient(rgba(110, 133, 183, 0.5),
    rgba(136, 157, 201, 0.5)),url(./poze/pquiz.jpg);
    background-size:contain;
}

.quizstyle {
    max-width: 600px;
    margin: 50px auto;
    color:rgb(243, 238, 238);
    padding: 20px;
    
}

h1 {
    text-align: center;
    color: #333;
}

fieldset {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    background-color:#1c59de80 ; 
}

legend {
    font-weight: bold;
}

label {
    display: block;
}

#submit{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display:flex;
    justify-content: center;
}
#submit:hover{
    background-color: #00438a;
}
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 1% 0;
    }
}
